/* line 2, ../scss/main.scss */
h2 {
  font-size: 1.5em;
  color: white;
}

/* line 7, ../scss/main.scss */
h3 {
  color: black;
  text-align: center;
}

/* line 12, ../scss/main.scss */
#calendar {
  margin-top: -15px;
}

/* line 15, ../scss/main.scss */
.quoteWrapper {
  height: 75px;
  border: none;
  margin-bottom: 50px;
  background-color: none;
  text-align: center;
  vertical-align: middle;
}

/* line 23, ../scss/main.scss */
.fc-center > h2 {
  font-family: Raleway;
  font-style: italic;
}

/* line 27, ../scss/main.scss */
body {
  background-color: #DEDEDE;
  /*#BFB7B4;*/
  /*#00C7E6;*/
  /*#0099B5*/
}

/* line 34, ../scss/main.scss */
.quote {
  background-color: #DE2429;
}

/* line 37, ../scss/main.scss */
.top-bar-section li.active:not(.has-form) a:not(.button) {
  background-color: #DE2429;
}

/* line 42, ../scss/main.scss */
.top-bar-section li a:hover {
  background-color: #990000 !important;
}

/* line 46, ../scss/main.scss */
.row > button:hover, .button:hover, button:focus, button {
  background-color: #990000;
}

/* line 49, ../scss/main.scss */
button.reservation {
  width: 100%;
}

/* line 53, ../scss/main.scss */
.quote {
  width: 100%;
}

/* line 57, ../scss/main.scss */
button:hover, button:focus, .button:hover, .button:focus {
  background-color: #DE2429;
  border-color: #990000;
}

/* line 63, ../scss/main.scss */
.reservationWrap {
  float: left;
  margin-top: 50px;
}

/* line 68, ../scss/main.scss */
.reservation {
  margin-top: 10px;
  padding-left: 0px;
  padding-right: 0px;
}

/* line 74, ../scss/main.scss */
p {
  text-align: center;
  vertical-align: middle;
}

/* line 79, ../scss/main.scss */
ul {
  font-size: 1em;
  list-style-type: none;
  line-height: 2.5em;
}

/* line 84, ../scss/main.scss */
.leftList {
  text-align: right;
}

/* line 88, ../scss/main.scss */
.leftList > img {
  margin-left: 5px;
}

/* line 92, ../scss/main.scss */
.row .row {
  margin-top: 20px;
}

/* line 95, ../scss/main.scss */
.icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

/* line 101, ../scss/main.scss */
.map {
  text-align: center;
  display: inline-block;
  margin-bottom: 10px;
}

/* line 106, ../scss/main.scss */
.slides {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 0px;
}

/* line 112, ../scss/main.scss */
a > button, .button {
  background-color: #DE2429;
}

/* line 116, ../scss/main.scss */
.amenities {
  color: black;
  margin-bottom: -18px;
}

/* line 120, ../scss/main.scss */
.quote {
  width: 100%;
}

/*Date Picker*/
/* line 125, ../scss/main.scss */
.ui-datepicker {
  position: absolute;
  top: 0px;
  font-size: .7em !important;
  text-align: center !important;
}

/* line 133, ../scss/main.scss */
.ui-datepicker table tbody tr td {
  padding: 1px !important;
  font-size: .5em !important;
}

/* line 139, ../scss/main.scss */
.ui-datepicker-title {
  text-align: center;
  background: white;
}

/* line 144, ../scss/main.scss */
table tr td th {
  padding: 0px;
  text-align: center;
}

/* line 149, ../scss/main.scss */
#datepicker {
  font-size: 62.5%;
}

/* line 154, ../scss/main.scss */
.date {
  min-width: 100px;
  font-size: 10em;
}

/* line 159, ../scss/main.scss */
select {
  min-width: 75px;
}

/* line 163, ../scss/main.scss */
.ui-datepicker-next {
  float: right;
}

/* line 167, ../scss/main.scss */
.ui-datepicker-prev {
  float: left;
}

/*Full Calendar*/
/*.fc-toolbar > .fc-next-button, .fc-prev-button */
/* line 173, ../scss/main.scss */
.fc button {
  height: 39px !important;
  background-color: #333333;
  background-image: none !important;
  border-radius: 0px !important;
  box-shadow: none !important;
}

/* line 181, ../scss/main.scss */
.fc-next-button, .fc-prev-button :hover {
  background-color: #333333;
}

/* line 184, ../scss/main.scss */
.fc-icon {
  color: white !important;
}

/* line 188, ../scss/main.scss */
.fc-today {
  background-color: #F0F0F0 !important;
}

/* line 192, ../scss/main.scss */
tr > .fc-day-number {
  font-weight: normal;
}

/* line 195, ../scss/main.scss */
#calendar > .fc-toolbar {
  background-color: #00C7E6;
}

/* line 198, ../scss/main.scss */
#hideCalendar {
  opacity: 0%;
  z-index: 0;
}

/* line 202, ../scss/main.scss */
.fc-content {
  background-color: #DE2429;
  color: #DE2429;
}

/* line 206, ../scss/main.scss */
td > .fc-day-grid-event {
  margin: 0px;
}

/* line 209, ../scss/main.scss */
td > .fc-event {
  border-color: white;
}
