/* line 1, ../scss/main.scss */
h2 {
  font-size: 1.5em;
  color: white;
}

/* line 6, ../scss/main.scss */
h3 {
  color: black;
  text-align: center;
}

/* line 11, ../scss/main.scss */
#calendar {
  margin-top: -15px;
}

/* line 14, ../scss/main.scss */
.quoteWrapper {
  height: 75px;
  border: none;
  margin-bottom: 50px;
  background-color: none;
  text-align: center;
  vertical-align: middle;
}

/* line 23, ../scss/main.scss */
body {
  background-color: #DEDEDE;
  /*#BFB7B4;*/
  /*#00C7E6;*/
  /*#0099B5*/
}

/* line 30, ../scss/main.scss */
.quote {
  background-color: #DE2429;
  width: 100%;
}

/* line 35, ../scss/main.scss */
.reservationWrap {
  float: left;
  margin-top: 50px;
}

/* line 40, ../scss/main.scss */
.reservation {
  margin-top: 10px;
  padding-left: 0px;
  padding-right: 0px;
}

/* line 46, ../scss/main.scss */
.address {
  text-align: center;
  vertical-align: middle;
}

/* line 51, ../scss/main.scss */
ul {
  font-size: 1em;
  list-style-type: none;
  line-height: 2.5em;
}

/* line 56, ../scss/main.scss */
.leftList {
  text-align: right;
}

/* line 60, ../scss/main.scss */
.leftList > img {
  margin-left: 5px;
}

/* line 64, ../scss/main.scss */
.row .row {
  margin-top: 20px;
}

/* line 67, ../scss/main.scss */
.icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

/* line 73, ../scss/main.scss */
.map {
  text-align: center;
  display: inline-block;
  margin-bottom: 10px;
}

/* line 79, ../scss/main.scss */
a > button, .button {
  background-color: #DE2429;
}

/* line 83, ../scss/main.scss */
.amenities {
  color: black;
  margin-bottom: -18px;
}

/* line 88, ../scss/main.scss */
p {
  text-align: center;
}

/* line 92, ../scss/main.scss */
.activityName {
  font-size: 1.5em;
}

/* line 96, ../scss/main.scss */
h3 > a {
  color: black;
}

/* line 100, ../scss/main.scss */
.travelSection {
  margin-top: 20px;
}

/* line 104, ../scss/main.scss */
.travelSection.active {
  border-bottom: 5px solid red;
}

/* Nav Menu */
/* line 108, ../scss/main.scss */
.top-bar-section li.active:not(.has-form) a:not(.button) {
  background-color: #DE2429;
}

/* line 113, ../scss/main.scss */
.top-bar-section li a:hover {
  background-color: #990000 !important;
}

/* Buttons */
/* line 118, ../scss/main.scss */
.row > button:hover, .button:hover, button:focus, button {
  background-color: #990000;
}

/* line 121, ../scss/main.scss */
button.reservation {
  width: 100%;
}

/* line 125, ../scss/main.scss */
button:hover, button:focus, .button:hover, .button:focus {
  background-color: #DE2429;
  border-color: #990000;
}

/* Slider */
/* line 131, ../scss/main.scss */
.slides {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 0px;
}

/*Date Picker*/
/* line 138, ../scss/main.scss */
.ui-datepicker {
  position: absolute;
  top: 0px;
  font-size: .7em !important;
  text-align: center !important;
}

/* line 146, ../scss/main.scss */
.ui-datepicker table tbody tr td {
  padding: 1px !important;
  font-size: .5em !important;
}

/* line 152, ../scss/main.scss */
.ui-datepicker-title {
  text-align: center;
  background: white;
}

/* line 157, ../scss/main.scss */
table tr td th {
  padding: 0px;
  text-align: center;
}

/* line 162, ../scss/main.scss */
#datepicker {
  font-size: 62.5%;
}

/* line 167, ../scss/main.scss */
.date {
  min-width: 100px;
  font-size: 10em;
}

/* line 172, ../scss/main.scss */
select {
  min-width: 75px;
}

/* line 176, ../scss/main.scss */
.ui-datepicker-next {
  float: right;
}

/* line 180, ../scss/main.scss */
.ui-datepicker-prev {
  float: left;
}

/*Full Calendar*/
/*.fc-toolbar > .fc-next-button, .fc-prev-button */
/* line 186, ../scss/main.scss */
.fc button {
  height: 39px !important;
  background-color: #333333;
  background-image: none !important;
  border-radius: 0px !important;
  box-shadow: none !important;
}

/* line 194, ../scss/main.scss */
.fc-next-button, .fc-prev-button :hover {
  background-color: #333333;
}

/* line 197, ../scss/main.scss */
.fc-icon {
  color: white !important;
}

/* line 201, ../scss/main.scss */
.fc-today {
  background-color: #F0F0F0 !important;
}

/* line 205, ../scss/main.scss */
tr > .fc-day-number {
  font-weight: normal;
}

/* line 208, ../scss/main.scss */
#calendar > .fc-toolbar {
  background-color: #00C7E6;
}

/* line 211, ../scss/main.scss */
#hideCalendar {
  opacity: 0%;
  z-index: 0;
}

/* line 215, ../scss/main.scss */
.fc-content {
  background-color: #DE2429;
  color: #DE2429;
}

/* line 219, ../scss/main.scss */
td > .fc-day-grid-event {
  margin: 0px;
}

/* line 222, ../scss/main.scss */
td > .fc-event {
  border-color: white;
}

/* line 225, ../scss/main.scss */
.fc-center > h2 {
  font-family: Raleway;
  font-style: italic;
}
